<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category</title>
</head>
<body>
    <style>
        a{
            padding: 10px;
        }
    </style>
    <a href="{% url 'app:home' %}">All</a>
    {% for y in category %}
    <a href="{% url 'app:home' %}?category={{ y.category_name }}">{{ y.category_name }}</a>
    {% endfor %} 
    {% for x in post %}
    <h1>{{ x.title }}</h1>
    {% endfor %}
</body>
</html>